streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers
torch
chromadb
pypdf
pydantic
pandas
python-dotenv
tenacity
prometheus-client